ion-content{

}

.container{
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows:100%;
}

.container > div{
    margin: auto;
    width: 70%;

    height: 50%;
}