<app-menu></app-menu>

<ion-content>

  <div class="slides">
    <ion-slides [options]="option" class="ion-margin-top">
      <ion-slide>
        <ion-card>
          <img src="../../../assets/recursos/imagenes/armarios.jpg" alt="armarios">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../../assets/recursos/imagenes/comedor.jpg" alt="comedor">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../../assets/recursos/imagenes/dormitorios.jpg" alt="dormitorios">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../../assets/recursos/imagenes/salas.jpg" alt="salas">
        </ion-card>
      </ion-slide>
    </ion-slides>
    
  </div>
   
  
  
</ion-content>
