

<form>
  <ion-item>
    <ion-label>Nombre del producto</ion-label>
    <ion-input></ion-input>    
  </ion-item>
  <ion-item>    
    <ion-label>Descripcion del producto</ion-label>
    <ion-input></ion-input>
  </ion-item>  
  <ion-item>    
    <ion-label>Cantidad del producto</ion-label>
    <ion-input></ion-input>
  </ion-item>  
  <ion-item>    
    <ion-label>Precio del producto</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>    
    <ion-label>Categoria del producto</ion-label>
    <ion-input></ion-input>
  </ion-item>  
</form>
